In [30]:
#pip install --upgrade google-cloud-language

In [2]:
# Imports the Google Cloud client library
from google.cloud import language
from google.cloud.language import enums
from google.cloud.language import types


import pandas as pd
import numpy as np

In [3]:
client = language.LanguageServiceClient.from_service_account_json('/Users/jenniferwu/Downloads/second.json')

# The text to analyze
text = u'''i am so pissed at this dog'''
document = types.Document(
    content=text,
    type=enums.Document.Type.PLAIN_TEXT)

# Detects the sentiment of the text
sentiment = client.analyze_sentiment(document=document).document_sentiment

print('Text: {}'.format(text))
#print('Sentiment: {}, {}'.format(sentiment.score, sentiment.magnitude))
print('Sentiment: {}'.format(sentiment.score))

Text: i am so pissed at this dog
Sentiment: -0.6000000238418579

In [4]:
score = []

In [5]:
def score_range(score):
        if score <= -.8:
            o = -.8
        elif score > -.8 and score <= -.5:
            o = -.5
        elif score > -.5 and score <= -.3:
            o = -.3
        elif score > -.3 and score <= .3:
            o = 0
        elif score > .3 and score <= .5:
            o = .3
        elif score > .5 and score <= .8:
            o = .5
        else:
            o = .8
        return(o)

In [6]:
score_range(-.545)

-0.5

In [7]:
tweet = pd.read_csv('/Users/jenniferwu/Desktop/elonmusk_tweets.csv')

In [8]:
tweet.head()

,id,created_at,text
0,849636868052275200,2017-04-05 14:56:29,b'And so the robots spared humanity ... https:...
1,848988730585096192,2017-04-03 20:01:01,"b""@ForIn2020 @waltmossberg @mims @defcon_5 Exa..."
2,848943072423497728,2017-04-03 16:59:35,"b'@waltmossberg @mims @defcon_5 Et tu, Walt?'"
3,848935705057280001,2017-04-03 16:30:19,b'Stormy weather in Shortville ...'
4,848416049573658624,2017-04-02 06:05:23,"b""@DaveLeeBBC @verge Coal is dying due to nat ..."

In [9]:
tweet['date'] = tweet.created_at.str.partition(' ')[0]
tweet['date'] = pd.to_datetime(tweet.date, format="%Y-%m-%d")
tweet[['year','month','day']] = tweet.date.apply(lambda x: pd.Series(x.strftime("%Y,%m,%d").split(",")))

In [10]:
tweet = tweet[tweet.year=='2017']

tweet.shape

(377, 7)

In [11]:
score = []
for i in tweet.text:
        text = i
        document = types.Document(
        content=text,
        type=enums.Document.Type.PLAIN_TEXT)

# Detects the sentiment of the text
        sentiment = client.analyze_sentiment(document=document).document_sentiment
        score.append(sentiment.score)

In [12]:
tweet['score']=(score)

In [13]:
output = tweet.loc[:,["id","date","score"]]

In [14]:
output.head()

                   id       date  score
0  849636868052275200 2017-04-05    0.1
1  848988730585096192 2017-04-03    0.1
2  848943072423497728 2017-04-03    0.0
3  848935705057280001 2017-04-03    0.1
4  848416049573658624 2017-04-02   -0.2

In [26]:
tweet['score']=(score)
tweet['source']=["twitter"]*len(tweet)
tweet['cid']=['18839']*len(tweet)

In [27]:
output = tweet.loc[:,["cid","id","date","source","score"]]

In [28]:
import random

t_score = output[['cid','id', 'date', 'source', 'score']]
v_score = t_score
v_score.source = 'spotify'

for i in range(v_score.shape[0]):
    v_score.score[i] = random.uniform(-1,1)

/Library/Frameworks/Python.framework/Versions/3.7/lib/python3.7/site-packages/ipykernel_launcher.py:8: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy

In [29]:
output = pd.concat([output,v_score],axis = 0)

In [30]:
output['score_range'] = output.score.apply(score_range)

In [31]:
output.head()

     cid                  id       date   source  score  score_range
0  18839  849636868052275200 2017-04-05  twitter    0.1          0.0
1  18839  848988730585096192 2017-04-03  twitter    0.1          0.0
2  18839  848943072423497728 2017-04-03  twitter    0.0          0.0
3  18839  848935705057280001 2017-04-03  twitter    0.1          0.0
4  18839  848416049573658624 2017-04-02  twitter   -0.2          0.0

In [32]:
from scipy import stats


output.groupby(['date']).agg(lambda x: stats.mode(x['score_range'])[0])

            cid   id  source  score  score_range
date
2017-01-05  0.0  0.0     0.0    0.0          0.0
2017-01-06  0.0  0.0     0.0    0.0          0.0
2017-01-07  0.3  0.3     0.3    0.3          0.3
2017-01-08  0.0  0.0     0.0    0.0          0.0
2017-01-10  0.0  0.0     0.0    0.0          0.0
...         ...  ...     ...    ...          ...
2017-03-31  0.0  0.0     0.0    0.0          0.0
2017-04-01  0.8  0.8     0.8    0.8          0.8
2017-04-02  0.0  0.0     0.0    0.0          0.0
2017-04-03  0.0  0.0     0.0    0.0          0.0
2017-04-05  0.0  0.0     0.0    0.0          0.0

[64 rows x 5 columns]

In [33]:
from scipy import stats


output.groupby(['date']).agg(lambda x: stats.mode(x['score_range'])[0])

            cid   id  source  score  score_range
date
2017-01-05  0.0  0.0     0.0    0.0          0.0
2017-01-06  0.0  0.0     0.0    0.0          0.0
2017-01-07  0.3  0.3     0.3    0.3          0.3
2017-01-08  0.0  0.0     0.0    0.0          0.0
2017-01-10  0.0  0.0     0.0    0.0          0.0
...         ...  ...     ...    ...          ...
2017-03-31  0.0  0.0     0.0    0.0          0.0
2017-04-01  0.8  0.8     0.8    0.8          0.8
2017-04-02  0.0  0.0     0.0    0.0          0.0
2017-04-03  0.0  0.0     0.0    0.0          0.0
2017-04-05  0.0  0.0     0.0    0.0          0.0

[64 rows x 5 columns]

In [35]:
final_output = output.loc[:,["date","score_range"]]