In [1]:
import numpy as np
import pandas as pd

In [62]:
tweet_score = pd.read_csv("G:/DH/dubhacks-master/dubhacks-master/twittersample.csv")

In [63]:
tweet_score.head()

   Unnamed: 0                  id        date   source  score
0           0  849636868052275200  2017-04-05  twitter    0.1
1           1  848988730585096192  2017-04-03  twitter    0.1
2           2  848943072423497728  2017-04-03  twitter    0.0
3           3  848935705057280001  2017-04-03  twitter    0.1
4           4  848416049573658624  2017-04-02  twitter   -0.2

In [66]:
t_score = tweet_score[['id', 'date', 'source', 'score']]

In [67]:
t_score.head()

                   id        date   source  score
0  849636868052275200  2017-04-05  twitter    0.1
1  848988730585096192  2017-04-03  twitter    0.1
2  848943072423497728  2017-04-03  twitter    0.0
3  848935705057280001  2017-04-03  twitter    0.1
4  848416049573658624  2017-04-02  twitter   -0.2

In [71]:
v_score = t_score

In [72]:
v_score.source = 'spotify'j

C:\Users\Sushrut\Anaconda3.7\lib\site-packages\pandas\core\generic.py:5096: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy
  self[name] = value

In [73]:
import math
for i in range(v_score.shape[0]):
    v_score.score[i] = random.uniform(0,1)

C:\Users\Sushrut\Anaconda3.7\lib\site-packages\ipykernel_launcher.py:3: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy
  This is separate from the ipykernel package so we can avoid doing imports until
C:\Users\Sushrut\Anaconda3.7\lib\site-packages\IPython\core\interactiveshell.py:3325: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy
  exec(code_obj, self.user_global_ns, self.user_ns)

In [74]:
v_score.head()

                   id        date   source     score
0  849636868052275200  2017-04-05  spotify  0.854001
1  848988730585096192  2017-04-03  spotify  0.003509
2  848943072423497728  2017-04-03  spotify  0.731161
3  848935705057280001  2017-04-03  spotify  0.030979
4  848416049573658624  2017-04-02  spotify  0.584135

In [59]:
#v_score.columns = ['valence_score' if x=='score' else x for x in v_score.columns]